@import url("https://cdn.syncfusion.com/ej2/material.css");

*{
  overflow-x: hidden;
}

.outer_box{
  
  max-width:1500px;
  margin:0px auto;
  font-family: 'Merriweather', serif;
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
}
nav{
  
  height:70px;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  
  
}
.logo{
  
  width:90px;
}
.logo img{
  width:100%;
  height:70px;
}
.navigation_bar{
  
  width:40%;

}
.navigation_links{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  
}
.registration{
  width:20%;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;

}
.home_page{
 
 background-image:url("https://cdn.pixabay.com/photo/2012/07/06/20/23/excavator-51665_1280.jpg");
 background-repeat:no-repeat;
 height:600px;
 background-size:100%;
 display:flex;
 flex-direction:row;
 align-items:flex-start;
justify-content:end;

}
#homepage_heading{
  font-size:45px;
  color:white;
}
.homepage_header{
  
  margin-top:40px;
  margin-right:80px;
}

.link{
  list-style:none;
  font-size:18px;
  color:white;
  text-decoration: none;
  

}
.link:hover{
  cursor:pointer;
  text-decoration: underline;
}

.products{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;

  flex-wrap: wrap;
  margin-top:30px;
  padding:10px;

}

.cranes,.bulldozer,.paver,.mixer,.boom_placer,.air_compressor,.jcb,.deisel,.manlift{
  
background-color:white;
border-radius:10px;
  width:20%; 
  text-align: center;
  padding:5px;
  box-shadow: 0 4px 8px 10px rgba(0,0,0,0.2);
  transition: 0.3s;
}
.cranes:hover,
.bulldozer:hover,
.paver:hover,
.mixer:hover,
.boom_placer:hover,
.air_compressor:hover,
.jcb:hover,
.deisel:hover,
.manlift:hover{
  box-shadow: 0 8px 12px 15px rgba(0,0,0,0.2);
  cursor:pointer;

}
.cranes img,.bulldozer img,.paver img,.mixer img,.boom_placer img,.air_compressor img,.jcb img,.deisel img,.manlift img{ 
  width:100%;
  height:250px;
  
}
.air_compressor,.boom_placer,.jcb,.deisel,.manlift{
  margin-top:40px;
}
.products h1{
  font-size:20px;
}
.specification{
  display:flex;
  flex-direction:row;
  align-items:center;
  gap:10px;
  border-top:1px solid black;
  padding:10px;
}
.specification p{
  display:flex;
  flex-direction:row;
  align-items:center;
  gap:2px;
  font-size:14px;
}
.add_cart{
  margin-left:25%;
}
 .searchBox{
  
  width:30%;
  margin:40px auto;
  
} 
.number_of_days{
  
  width:200px;
  margin-top:20px;
  
}
.timepicker-control-section {
  max-width: 250px;
  margin:20px 0px;
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content:space-between;
}
.cart{
  background-color:antiquewhite;
  width:25%;
  padding:10px;
  margin-top:30px;
  margin-left:30px;
  border-radius:5px;
}
.quantity{
  
  width:130px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin-top:20px;
}
.rent_time,.return_time{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}
.cart img{
  width:200px;height:200px;
}
.checkout_box
{
  margin:20px auto;
  width:30%;
}
.aboutus{
  
  margin-top:50px;
  margin-left:20px;
}
.aboutus p{
  font-size:16px;
  color:white;
  line-height:1.5;
  text-align: justify;
}
.aboutus h1{
  font-size:35px;
  color:rgb(18, 18, 148);
  text-decoration: underline;
}
.about_box{
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.about_detail{
  width:50%;
}
.about_image{
  width:45%;
}
.registration{
  margin-right:10px;
}
@media(min-width:350px)
{
  .logo{
  
    width:70px;
  }
  
  .navigation_bar{
    
    width:100%;
  
  
  }
  .registration{
    display:none;
  }
  .link{
    
    font-size:12px;
    
  
  }
  .navigation_links{
    padding:0;
  }
  #homepage_heading{
    font-size:25px;
    color:white;
  }
  .homepage_header{
  
    margin-top:70px;
    margin-right:10px;
  }
  .about_box{
    display:flex;
    flex-direction:column;
  }
  .about_detail{
    width:100%;
  }
  .about_image{
    width:100%;
  }
  .aboutus{
  
    margin-left:20px;
    margin-right:20px;
  }
  .searchBox{
  
    width:90%;
  }
  .products{
    display:flex;
    flex-direction:column;
  }
  .cranes,.bulldozer,.paver,.mixer,.boom_placer,.air_compressor,.jcb,.deisel,.manlift{
  
      width:90%; 
  }
  .air_compressor,.boom_placer,.jcb,.deisel,.manlift,.cranes,.bulldozer,.paver,.mixer{
    margin-top:40px;
  }
  .cart{
    
    width:80%;
    margin-left:20px;
    margin-right:20px;
  }
  .checkout_box
{
  
  width:40%;
}
}

@media(min-width:400px)
{

  .add_cart{
    margin-left:35%;
  }
  .navigation_bar{
    
    width:100%;
    margin-left:10px;
    margin-right:10px;
    
  
  }

}

@media(min-width:500px)
{

  .add_cart{
    margin-left:45%;
  }
  

}
@media(min-width:550px)
{
  .add_cart{
    margin-left:55%;
  }
}
@media(min-width:600px)
{

  .products{
    display:flex;
    flex-direction:row;
  }
  .add_cart{
    margin-left:25%;
  }
  .cranes,.bulldozer,.paver,.mixer,.boom_placer,.air_compressor,.jcb,.deisel,.manlift{
  
    width:47%; 
}
#homepage_heading{
  font-size:35px;
  
}
.cart{
    
  width:50%;
}
}

@media(min-width:800px)
{
  .add_cart{
    margin-left:35%;
  }
  .searchBox{
  
    width:60%;
  }
}
@media(min-width:900px)
{
  .add_cart{
    margin-left:15%;
  }
  .searchBox{
  
    width:40%;
  }
  .cranes,.bulldozer,.paver,.mixer,.boom_placer,.air_compressor,.jcb,.deisel,.manlift{
  
    
      width:30%;
  }
  .navigation_bar{
  
    width:40%;
  
  }
  .registration{
    display:flex;
    
      width:30%;
  }
}

@media(min-width:1100px)
{
  .cranes,.bulldozer,.paver,.mixer,.boom_placer,.air_compressor,.jcb,.deisel,.manlift{
  
    
    width:25%;
}
.add_cart{
  margin-left:10%;
}
.checkout_box
{
  
  width:40%;
}
.cart{
 
  width:25%;
}
.link{
  
  font-size:18px;
}
}
@media(min-width:1214px)
{
  .cranes,.bulldozer,.paver,.mixer,.boom_placer,.air_compressor,.jcb,.deisel,.manlift{
  
    
    width:20%;
}
.navigation_bar{
  
  width:40%;

}

.registration{
  width:20%;
}
.homepage_header{
  
  margin-top:40px;
  margin-right:80px;
}
#homepage_heading{
  font-size:45px;
}
.about_box{
  display:flex;
  flex-direction: row;
}
.about_detail{
  width:50%;
}
.about_image{
  width:45%;
}
.searchBox{
  
  width:30%;
}
}

@media(min-width:1388px)
{
  .add_cart{
    margin-left:20%;
  }
}